<div class="correlated-posts">
  <p>Correlated Posts</p>
  <p>{{correlated_post_id}}</p>
  {{#each this}}
  <section class="correlated-posts">
    <div class="text">
      <a href="/post/{{correlated_post_id}}">{{correlated_post_id}}</a>
    </div>
  </section>
  {{/each}}
</div>