<article class="post">
  <div class="title">
    <h2>{{post.title}}</h2>
    <span>({{post.post_url}})</span>
  </div>
</article>
<section>
  <h2>Create New Correlation</h2>

  <form class="new-correlation-form">
    <div>
      <label for="correlted-post-url">Link</label>
      <input id="correlated-post-url" name="correlated-post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
{{> correlatedPosts post.post_correlations }}

<script src="/javascript/upvote.js"></script>
<script src="/javascript/add-correlation.js"></script>