.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) url('/public/images/main__background.jpg');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.newPost, .post-list, .signup-form, .login-form, .correlations-div, .new-correlation-form, .post, .correlated-posts{
    margin: auto;
    margin-top: 10px;
    width: 90%;
    background-color: white;
    padding: 5%;
    border: 2px solid rgba(131, 131, 131, 0.76);
    border-radius: 5%;
    
}
.newPost h2, .post-list h2, .signup-form h2, .login-form h2, .correlations-div h2, .new-correlation-form h2, .post h2, .correlated-posts h2{
text-align: center;
font-size: 100%;
}

.newPost input, .signup-form input, .login-form input, .new-correlation-form input{
    width: 95%;
}

.wrapper header, .wrapper footer {
    background-color: #A8D3C6;
}
.wrapper{
    background-color:  #fffed9;
}