// Variables START
$white: #f4f9f9;
$black: #000;
$red: #e70000;
$purple: #800080;
$orange: #ffa500;
$grey: #808080;

$dark-blue: #225ca3;
// $light-blue: #3486eb;
$delete-color: #d41414;
$hover-delete-color: #ff643d;
$upvote-color: #197d0f;
$upvote-hover-color: #1f9c13;
$list-odd: #fff5eb;
$footer: #ccc;
// Variables END

// Elements START
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0 auto;
  // max-width: 1000px;
  font-family: sans-serif;
  color: $black;
  background-image: url("../images/data-correlation.png");
  background-color: $black;
}

a {
  text-decoration: none;
  color: $black;
  font-weight: bold;
  transition: color 0.1s;

  &:hover {
    color: $orange;
  }
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: $white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5%;

  &:hover {
    background-color: #3486eb;
  }
}

footer {
  border-top: 3px solid $orange;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

header {
  border-bottom: 3px solid $orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;

  h1 {
    font-size: 1em;
  }
}

main {
  flex: 1;
  padding: 2% 4%;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5%;
  border: 1px solid #ccc;
}

textarea:hover,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}
// Elements END

// Buttons START
.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: $black;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;

  &:hover {
    background: none;
    // border-radius: 5px;
    color: $orange;
    // background-color: $black;
    // padding: 3px 5px;
  }
}

.delete-post-btn {
  background-color: #d41414;

  &:hover {
    background-color: #ff643d;
  }
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color 0.1s;

  &:hover {
    background-color: #1f9c13;
  }
}

// Buttons END

// Comment START

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;

  &:nth-child(odd) {
    background-color: #fff5eb;
  }

  & .meta {
    font-size: 90%;
    margin-bottom: 0.5%;
    opacity: 0.6;
  }
}
// Comment END

// Correlated Start

.correlated-image {
  height: 300px;
  width: 300px;
}

// Correlated END

// Edit START
.edit-link {
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -65%);
  // margin: -1.5% 0 2% 0;
}

.edit-post-form {
  margin-bottom: 5%;
}

// Edit END

// Post START
.post {
  margin-bottom: 2%;
  line-height: 150%;

  .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
}

.post-list {
  margin: 0;
  padding: 0;
}

#post-image {
  height: 300px;
  width: 300px;
}

.your-posts {
  text-align: center;
}
// Post END

.new-post-form input {
  width: 300px;
}

.newPost,
.post-list,
.signup-form,
.login-form,
.correlations-div,
.new-correlation-form,
.post,
.correlated-posts {
  margin: auto;
  margin-top: 10px;
  width: 90%;
  background-color: $white;
  padding: 5%;
  border: 2px solid rgba(131, 131, 131, 0.76);
  border-radius: 15px;
}

.newPost h2,
.post-list h2,
.signup-form h2,
.login-form h2,
.correlations-div h2,
.new-correlation-form h2,
.post h2,
.correlated-posts h2 {
  text-align: center;
  font-size: 100%;
}

.newPost input,
.signup-form input,
.login-form input,
.new-correlation-form input {
  width: 95%;
}

.wrapper {
  background-color: #eee;
  width: 100%;
  min-height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.wrapper header,
.wrapper footer {
  background-color: $grey;
}

@media (min-width: 412px) and (max-width: 800px) {
  .edit-link {
    position: relative;
    display: block;
    // position: fixed;
    left: -5%;
    margin-bottom: -20%;
  }
}

@media (max-width: 411px) {
  .edit-link {
    position: relative;
    display: block;
    margin-bottom: -20%;
    left: 55%;
    // transform: translate(-20%, -5%);
    // margin: -1.5% 0 2% 0;
  }
}

@media (max-width: 375px) {
  .edit-link {
    font-size: 0.9rem;
    margin: 0 -10% -20% 0;
  }
}

// .hero {
//   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
//   url("/public/images/main__background.jpg");
//   height: 50%;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
// }
